<div class="flex h-screen bg-gray-100">
  <!-- @if(isSidebarVisible || isMobileSidebarVisible) {
  <app-sidebar id="sidebar" class="transition-all duration-300"></app-sidebar>
  } -->

  <app-sidebar
    id="sidebar"
    *ngIf="isSidebarVisible || isMobileSidebarVisible"
    [ngClass]="{
      hidden: !isMobileSidebarVisible,
      visible: isMobileSidebarVisible
    }"
  ></app-sidebar>

  <!-- <app-sidebar
  id="sidebar"
  *ngIf="isSidebarVisible || isMobileSidebarVisible"
  [ngClass]="{
    'hidden lg:block': !isMobileSidebarVisible,
    'lg:hidden': isMobileSidebarVisible 
  }"
></app-sidebar> -->

  <div class="flex-1 flex flex-col">
    <app-header
      (toggleSidebar)="toggleSidebar()"
      [isSidebarOpen]="isSidebarOpen()"
    ></app-header>

    <main class="flex-1 p-6 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </div>
</div>
