<div class="p-4 md:p-8 bg-gray-100">
  <div class="flex justify-between items-center mb-4">
    <p class="text-lg md:text-2xl font-semibold text-gray-800"> <i class="fa-solid fa-calendar-days text-orange-500 mx-2"></i>Calendar</p>
    <button
      (click)="toggleHolidayForm()"
      class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded-lg text-white"
    >
      <i class="fa-solid fa-plus"></i> Add Holiday
    </button>
  </div>

  <div
    *ngIf="showHolidayForm"
    class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50"
  >
    <div class="bg-white p-6 rounded-lg w-96">
      <h2 class="text-xl font-semibold mb-4">Add New Holiday</h2>

      <div *ngIf="errMessage" class="text-red-500 mb-4">{{ errMessage }}</div>

      <label for="holidayName">Holiday Name:</label>
      <input
        id="holidayName"
        type="text"
        [(ngModel)]="newHoliday.name"
        placeholder="Holiday Name"
        class="border rounded p-2 mb-2 w-full"
      />

      <label for="holidayStart">Start Date:</label>
      <input
        id="holidayStart"
        type="date"
        [(ngModel)]="newHoliday.start"
        (change)="onStartDateChange($event)"
        [min]="currentDate"
        class="border rounded p-2 mb-2 w-full"
      />

      <label for="holidayEnd">End Date:</label>
      <input
        id="holidayEnd"
        type="date"
        [(ngModel)]="newHoliday.end"
        [min]="newHoliday.start"
        [disabled]="!newHoliday.start"
        class="border rounded p-2 mb-2 w-full"
      />

      <div class="flex justify-between mt-4">
        <button
          (click)="addHoliday()"
          class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-lg text-white"
        >
          Add Holiday
        </button>
        <button
          (click)="toggleHolidayForm()"
          class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded-lg text-white"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <full-calendar [options]="calendarOptions"></full-calendar>

  <!-- Holiday Details popup ok -->
  <div
    *ngIf="showHolidayDetails"
    class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50"
  >
    <div class="image bg-white p-6 rounded-lg w-96 relative">
      <h2 class="text-xl font-semibold mb-4 text-center">
        Holiday/Leaves Details
      </h2>

      <div *ngIf="selectedHoliday">
        <p><strong>Name:</strong> {{ selectedHoliday.title }}</p>
        <!-- <p><strong>Start Date:</strong> {{ selectedHoliday.start | date }}</p>
        <p><strong>End Date:</strong> {{ selectedHoliday.end | date }}</p> -->
      </div>

      <button
        class="absolute top-[-10px] right-[-10px] h-7 w-7 flex items-center justify-center bg-red-600 text-white hover:bg-red-500 rounded-full transition-colors duration-300"
        (click)="closeHolidayDetails()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
</div>
