.fc .fc-toolbar-title {
  font-size: 1em !important;
}

.fc-day-sun {
  background-color: red !important;
}

.fc-day-sunday,
.fc-day-2nd-saturday {
  border: none !important;
  background-color: transparent !important;
}
